<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Update Karakter</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"></head>
<body>
    <div class="header">
        <h1>Edit Karakter</h1>
    </div>
    <div class="container">
        <form id="editlighcloneForm" enctype="multipart/form-data">
            <div class="form-group">
                <label for="name">Nama</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="path">Path</label>
                <input type="text" class="form-control" id="path" name="path" required>
            </div>
            <div class="form-group">
                <label for="story">Cerita</label>
                <textarea class="form-control" id="story" name="story" required></textarea>
            </div>
            <div class="form-group">
                <label for="file">Pilih Gambar</label>
                <input type="file" class="form-control-file" id="file" name="file">
            </div>
            <button type="submit" class="btn btn-primary">Simpan</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            var lighcloneId = getlighcloneIdFromUrl();

            if (lighcloneId) {
                populatelighcloneData(lighcloneId);
            }

            function getlighcloneIdFromUrl() {
    		var url = window.location.href;
   			 var urlParts = url.split("/");
   			 var lighcloneIdIndex = urlParts.indexOf("edit-lighclone"); // Sesuaikan dengan struktur URL Anda
   			 if (lighcloneIdIndex > 0 && lighcloneIdIndex < urlParts.length - 1) {
   		     return urlParts[lighcloneIdIndex + 1]; // Ambil elemen setelah "view" dalam URL
   		 }
 		   return null;
			}


            function populatelighcloneData(lighcloneId) {
                $.get("/api/lighclones/" + lighcloneId, function (lighclone) {
                    $("#name").val(lighclone.name);
                    $("#path").val(lighclone.path);
                    $("#story").val(lighclone.story);
                });
            }

            $("#editlighcloneForm").submit(function (event) {
                event.preventDefault();
                var form = $(this);
                var formData = new FormData(form[0]);

                $.ajax({
                    url: "/api/lighclones/" + lighcloneId,
                    type: "PUT",
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function () {
                        alert("Karakter berhasil diupdate.");
          				  window.location.href = "/view/lighclone/";
                    },
                    error: function () {
                        alert("Gagal mengupdate karakter.");
                    }
                });
            });
        });
    </script>
</body>
</html>
